body {
    margin: 20px;
    background: linear-gradient(135deg, #0f172a, #020617);
    font-family:system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.blue-border {
    border: 1px dotted blue;
}

.avatar {
    width: 200px;
    border-radius: 10px;
}

.card {
    display: flex;
    gap: 20px;
    width: 420px;
    padding: 20px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;

    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    backdrop-filter: blur(6px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4)
}

h3 {
    margin-bottom: 6px;
}

p {
    margin: 0;
    opacity: 0.9;
}

h4 {
    margin-top: 6px;
    color: #38bdf8;
}